// main
$unit: 4px;
$menu-width: 230px;
$app-bar-height: 60px;
$mobile: 768px;
$tablet: 768px;
$notebook: 1200px;
$desktop: 1600px;
$mobile-app-bar-height: 60px;

// font
$bold: 700;

// timing
$transition-duration: 300ms;

// colors
$default-background: #1b222c;

$blue: #2997ff;
$black: #000;
$green: #12bab7;
$red: #c2183f;

$powerdapp-gradient: linear-gradient(299deg, #00F0FF -15.4%, #1768E5 100.3%);