@import 'src/styles/mixins';

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px 0;

  // @include mobile {
  // }
}

.title {

  margin-bottom: 10px;
  color: #332224;
  font-size: 24px;
  font-weight: 700;

  text-align: center;
}

.text {

  margin-bottom: 60px;
  color: #36555c;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
}
