@import 'src/styles/variables';
@import 'src/styles/mixins';

.modal {
  width: max-content;
  max-width: 320px;
  border-radius: 15px;
  background: #f3f8ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);

  @include mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
    margin: 0;
  }
}

.modalRoot {
  z-index: 13000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  @include mobile {
    justify-content: center;
    padding: 12px 16px 32px;
  }
}

.title {

  margin-bottom: 16px;
  color: #1c3c65;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.icon {
  margin-bottom: 20px;
}

.subtitle {

  margin-bottom: 10px;
  color: #6b798f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.description {

  margin-bottom: 16px;
  color: #6b798f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;

  p:not(:last-child) {
    margin-bottom: 6px;
  }
}